@use "utils/variables" as var;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var.$offwhite;
    font-family: var.$font;
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

textarea {
    outline: none;
    font-family: var.$font;
}

.green-hl {
    color: var.$green;
}